<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
<head>
    <title>Tool List</title>
</head>

<body>
    <div layout:fragment="content">
        <div class="col-md-6">
            <input type="text" id="searchValue" class="form-control" placeholder="Search..">
            <a class="btn btn-success" href="#id" onclick="toolSearcher()"> Search </a>
            <a class="btn btn-success" href="#" th:href="@{/tool(add)}"> Add Tool </a>
        </div>
        <div>
            <table id="toolList" class="table">
                <thead>
                <tr>
                    <th scope="col"> Tool Name </th>
                    <th scope="col"> Tool Category </th>
                    <th scope="col"> Age </th>
                    <th scope="col"> Owner </th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${tools != null}">
                    <td colspan="2"> No Tools Available </td>
                </tr>
                <tr th:each="tool : ${tools}">
                    <td span th:text="${tool.name}"></td>
                    <td span th:text="${tool.toolCategory}"></td>
                    <td span th:text="${tool.age}"></td>
                    <td th:text="${tool.owner}"></td>
                    <td>
                        <a class="btn btn-primary" th:href="@{/tool(edit,name=${tool.name}, owner=${tool.owner})}"> Edit </a>
                        <a class="btn btn-danger" th:href="@{/tool(delete,id=${tool.id})}"> Delete </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>